@charset "utf-8";

@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

.index .form-horizontal {
    margin: 38px 0;
}

.index .faded, .index .faded * {
    color: #ccc;
}

.footer {
    border-top: 1px solid #e5e5e5;
    color: #777;
    padding-top: 19px;
}
