{% macro subscriptions_form(form, title) %}
    <form action="{{ reverse("import_subscriptions") }}" class="form-horizontal" enctype="multipart/form-data" method="post">
      <fieldset>
        <legend>{{ title }}</legend>
        <div class="form-group{% if form.subscriptions.errors %} has-error{% endif %}">
          <label class="col-lg-2 control-label" for="{{ form.subscriptions.id }}">
            {{ form.subscriptions.label.text }}
          </label>
          <div class="col-lg-10">
            {{ form.subscriptions() }}
            {% if form.subscriptions.errors %}
              <strong class="help-block">{{ form.subscriptions.errors|join("<br>") }}</strong>
            {% endif %}
            <span class="help-block">{{ form.subscriptions.description }}</span>
          </div>
        </div>
        {% if form.errors.parsing %}
          <div class="form-group has-error">
            <div class="col-lg-10 col-lg-offset-2">
              <strong class="help-block">{{ form.errors.parsing|join("<br>") }}</strong>
            </div>
          </div>
        {% endif %}
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <button class="btn btn-primary" type="submit">Import</button>
          </div>
        </div>
      </fieldset>
    </form>
{% endmacro %}
