{% extends "base.html" %}
{% import "forms.html" as forms %}
{% block extra_head %}
  {% if not form %}
  <meta http-equiv="Refresh" content="10; url={{ reverse("index") }}">
  {% endif %}
{% endblock %}
{% block title -%}
  {% if not form %}{% if subscriptions %}Congratulations!{% else %}Oh, snap!{% endif %}{% endif %}
{%- endblock %}
{% block content %}
  {% if not form %}
    {% if subscriptions %}
    <div class="alert alert-success">
      <p>
        Your subscriptions successfully loaded to <strong>Read the Stuff</strong>.
        We'll start to fetch data for you immediately.
      </p>
      <p>
        <a href="{{ reverse("index") }}" class="alert-link">Back to main page</a>
        to start reading the stuff :)
      </p>
    </div>
    {% else %}
    <div class="alert alert-danger">
      <p>
        Unfortunately, but we cannot load any subscriptions from your OPML file.
        Please check that you submit proper file. If not return
        <a href="{{ reverse("index") }}">to previous page</a> and try one
        more time.
      </p>
    </div>
    {% endif %}
  {% else %}
    {{ forms.subscriptions_form(form, "Import your subscriptions") }}
  {% endif %}
{% endblock %}
