<!DOCTYPE html>
<html>

<head>
  <title>{{ _("Read the Stuff") }}</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="robots" content="noindex">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap -->
  {% if not settings.DEBUG %}
    <link href="//fonts.googleapis.com/css?family=Roboto+Slab:300italic,400italic,700italic,300,400,700" rel="stylesheet" type="text/css">
  {% endif %}
  <link href="/static/vendor/bootswatch/yeti/bootstrap.min.css" rel="stylesheet" type="text/css">

  <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js" type="text/javascript"></script>
  <![endif]-->

  <link href="/static/css/readthestuff.css" rel="stylesheet" type="text/css">
  {% block extra_head %}{% endblock %}
</head>

<body>

  <div id="readthestuff-container">
    <div class="loading text-muted">{{ _("Loading&hellip;")|safe }}</div>
  </div>

  <script src="/static/dist/readthestuff{% if settings.DEBUG %}.debug{% endif %}.js" type="text/javascript"></script>
  <script type="text/javascript">
    ReadTheStuff.React.initializeTouchEvents(true);
    ReadTheStuff.run(
      document.getElementById("readthestuff-container"),
      "/api/"
    );
  </script>

</body>

</html>
